@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

*{

    padding: 0;
    margin: 0;
    font-family:'Segoe UI',sans-serif;
    color: black;


}

body{
    background-color:rgb(180, 180, 180);
}

.backButton {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

.iconButtonwidth{
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

header{
    background-color: rgb(1, 129, 106);
    padding-top: 5px;
    padding-bottom: 10px;
}

main{

    display: flex;
    flex-direction: row;
    height:100%;
    height: 100%;


}

.center{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.center .talkbar{
    align-self: flex-start;
    width: 100%;
    background-color: white;
    
}


.upbar{
    display: flex;
    flex-direction: row;
}

.upbar button{
    padding-left: 10px;
}

.upbar:only-child{
    padding-right: 10px;
}

.downbar span{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.late{
    width: fit-content;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    height: 100%;

}

.talkbar{

    position: absolute;
    margin-top: 910px;
    padding-left: 110px;
    position:fixed;

}

.userGeneral{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-content: space-between;
}

.userGeneral button{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    margin-top: 6px;
    background-color: gray;

}

.title{
    display: flex;
    flex-direction: column;
}

.talkInfo{
    display: flex;
    flex-direction: column;
}

.mensagens{
    
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-left: 110px;
    height: 100%;

}

.userText span{
    padding: 0.5em;
    border-radius: 5px;
    font-family:'Segoe UI',sans-serif;
    color: black;
    background-color: rgb(231, 255, 219);
}

.userText{
    margin-top: 1.5em;
    margin-left: 10px;
    
}

.othersText{
    margin-top: 1.5em;
    margin-left: 10px;

}

.othersText span{
    border-radius: 5px;
    background-color: white;
    padding: 0.5em;
}

