
.upbar{
    display: flex;
    flex-direction: row;


}

.downbar span{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.userGeneral{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
}

.talkInfo{
    display: flex;
    flex-direction: column;
}

.mensagens{
    display: flex;
    flex-direction: column;

}

.userText span{
    background-color: greenyellow;
    padding: 0.5em;
}

.userText{
    margin-top: 1.5em;
    
}

.othersText{
    margin-top: 1.5em;

}

.othersText span{
    background-color: gray;
    padding: 0.5em;
}
